* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #2b7a4b; /* African green, reflecting growth and renewal */
  --success-color: #39a96b; /* Bright, hopeful green */
  --warning-color: #f7c84b;
  --error-color: #d1495b; /* Earthy red */
  --error-color-variant: rgba(209, 73, 91, 0.4); /* Softer variant */
  --white-color: #ffffff;
  --light-color: rgba(255, 255, 255, 0.7);

  --black-color: #3d2c2e; /* Deep, earthy brown */
  --bg-color: #2d3436; /* Charcoal or deep greenish charcoal */
  --bg-color-variant: #354f52; /* Dark forest green */
  --bg-color-variant-2: #52796f; /* Soft sage or sea green */

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--white-color);
  background: var(--bg-color);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 8rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}

a {
  color: var(--white-color);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--white-color);
  color: var(--black-color);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--white-color);
  border-color: var(--white-color);
}

.btn_primary {
  background: var(--error-color);
  color: var(--white-color);
}

/* Navbar Styles */

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
/* Changing nav style */
.window_scroll {
  background: var(--primary-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.nav_container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button#closeMenuBtn {
  display: none;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav_menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav_menu a:hover {
  color: var(--bg-color-variant-2);
}

/* Header Section */

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header_left p {
  margin: 1rem 0 2.4rem;
}

/* Header Section End */
/* Classes Section Start */
.categories {
  background: var(--bg-color-variant);
  height: 32rem;
  /* margin-bottom: 8rem; */
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories_container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories_left {
  margin-right: 4rem;
}
.categories_left p {
  margin: 1rem 0 3rem;
}

.categories_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--bg-color-variant-2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category:nth-child(2) .category_icon {
  background: var(--error-color);
}
.category:nth-child(3) .category_icon {
  background: var(--success-color);
}
.category:nth-child(4) .category_icon {
  background: var(--warning-color);
}
.category:nth-child(5) .category_icon {
  background: var(--success-color);
}

.category_icon {
  background: var(--primary-color);
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.85rem;
}
/* Classes Section End */

/* Popular Classes Section Start */
.classes {
  margin-top: 10rem;
}
.classes_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.class {
  background: var(--bg-color-variant);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.class:hover {
  background: transparent;
  border-color: var(--primary-color);
}

.class_info {
  padding: 2rem;
}

.class_info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/* FAQs Section */

.faqs {
  background: var(--bg-color-variant);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--primary-color);
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faqs_icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.show p {
  display: block;
}

/* Testimonials */
.testimonials_container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--bg-color-variant);
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background: var(--primary-color);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial_body::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--primary-color),
    var(--primary-color)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 45%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/* Footer Section */
footer {
  background: var(--bg-color-variant);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4 {
  margin-bottom: 1.2rem;
}

.footer_1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer_socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer_copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--bg-color-variant-2);
}

/* Media Queries Tablets*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /* Navbar */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--white-color);
    cursor: pointer;
  }

  .nav_container button#close_menu_btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
  }

  .nav_menu li a {
    background: var(--primary-color);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav_menu li a:hover {
    background: var(--bg-color-variant-2);
    color: var(--white-color);
  }

  /* Header */

  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header_container {
    gap: 0;
    padding-bottom: 2rem;
  }
  /* Categories */
  .categories {
    height: auto;
  }

  .categories_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .categories_left {
    margin-right: 0;
  }

  /* Popular Classes */
  .classes {
    margin-top: 0;
  }

  .classes_container {
    grid-template-columns: 1fr 1fr;
  }
  /* FAQs */
  .faqs_container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }

  /* Footer */
  .footer_container {
    grid-template-columns: 1fr 1fr;
  }
}

/* MObile Devices */
@media (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /* Navbar */
  .nav_menu {
    right: 3%;
  }
  header {
    height: 100vh;
  }

  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header_left p {
    margin-bottom: 1.3rem;
  }

  /* Categories */
  .categories_right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }
  .category {
    padding: 1rem;
    border-radius: 1rem;
  }

  .category_icon {
    margin-top: 4px;
    display: inline-block;
  }

  /* Popular Classes */
  .classes_container {
    grid-template-columns: 1fr;
  }

  /*Testimonials  */
  .testimonial_body {
    padding: 1.2rem;
  }

  /* Footer */
  .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer_1 a {
    margin: 3rem auto;
  }

  .footer_socials {
    justify-content: center;
  }
}
